@import "../../App.scss";

.loader {
  border: 4px solid $gray;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border-left-color: $purple;
  margin: 1rem auto;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
