@import "../../App.scss";

.navbar {
  background: linear-gradient(
    252deg,
    rgba(105, 96, 189, 1) 25%,
    rgba(161, 155, 202, 1) 93%,
    rgba(178, 173, 209, 1) 100%
  );
  padding: 0.5rem 0 3rem 0;
  border-radius: 0 0 59% 30% / 0 0 3rem 3rem;

  .round {
    border-radius: 50% / 50px;
    height: 2em;
    width: 100%;
  }

  .navbar__elements {
    padding: 1rem 1.2rem;
    display: grid;
    grid-template-columns: 0.2fr 1fr;

    .navbar__links {
      display: flex;
      justify-content: space-around;

      .navbar__link {
        color: $white;
        text-decoration: none;
        font-size: larger;
      }
    }

    .navbar__logo {
      height: 1.2rem;
      width: 4rem;
    }
  }
}

@media screen and (min-width) {
}
